body{
    margin: 0px;
    background-color: #fffafa;
}

.book{
background-color: rgb(0, 0, 255);
height: 100px;
width: 100%;
position: relative;
}
.face{
color: white;
position: absolute;
top: 15%;
left: 20%;


}
.table{
color: white;
position: absolute;
top: 15%;
right:100px ;
}
.container{
background-color: #E2E5F0;
width: 100%;
height: 100%;
position: relative;
}
.img{
width: 500px;
height: 300px;
position: absolute;
top: 100px;
left: 200px;
}
.post{
position: absolute;top: 40px;
left: 150px;
font-size: 25px;
}
.form{
position: absolute;
float: right;
top: 30px;
left: 800px;
}
.brith{
position: absolute;
top: 340px;
right: 40px;
}
.radio{
font-size: 15px;

}